<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">
  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" name="name" [ngModel]="categoryToEdit?.name">
    </mat-form-field>
  </div>
  <div>
      <mat-form-field>
          <mat-select matInput placeholder="Icon" name="icon" [ngModel]="categoryToEdit?.icon" (ngModelChange)="icon = $event">
            <mat-option [value]="'accessibility'"><mat-icon>accessibility</mat-icon></mat-option>
            <mat-option [value]="'invert_colors'"><mat-icon>invert_colors</mat-icon></mat-option>
            <mat-option [value]="'pan_tool'"><mat-icon>pan_tool</mat-icon></mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon>{{icon ? icon : categoryToEdit?.icon }}</mat-icon>
  </div>
  <div>
    <mat-form-field>
      <mat-select matInput placeholder="Direction" name="direction" [ngModel]="categoryToEdit?.direction">
        <mat-option [value]="'in'">in</mat-option>
        <mat-option [value]="'out'">out</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" class="ui button">Submit</button>
  <button type="button" (click)="dismiss()" class="ui button">Cancel</button>
</form>