<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">
  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" name="name" [ngModel]="categoryToEdit?.name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Icon" name="icon" [ngModel]="categoryToEdit?.icon">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select matInput placeholder="Direction" name="direction" [ngModel]="categoryToEdit?.direction">
        <mat-option [value]="'in'">in</mat-option>
        <mat-option [value]="'out'">out</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button type="submit" class="ui button">Submit</button>
  <button type="button" (click)="dismiss()" class="ui button">Cancel</button>
</form>